.pizza1 {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 1px 0px 6px 2px #d1d0d0;
  border-radius: 1rem;
  padding: 1rem;
  width: 22vw;
}
.margherita {
  width: 18.5vw;
  height: 18vh;
}
.combo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 96vw;
}
.combos {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-wrap: wrap;
}
.add {
  text-align: center;
  display: block;
  padding: 0.5rem;
  background-color: white;
  color: darkgreen;
  font-size: 1.2rem;
  cursor: pointer;
}
.add:hover {
  color: grey;
}
.properties {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.pizzaname,
.price,
.size,
.discription {
  background-color: white;
  font-size: 1.1rem;
}
